@font-face {
    font-family: "Montserrat";
    src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body{
    width: 100%;
    background: linear-gradient(212.57deg, #422982 11.95%, #33175E 35.73%, #422982 67.65%);
}

/* navibar */
.navbar {
    background-color:transparent;
    border-color: transparent;
}
#logo{
    margin-left: 100px;
    margin-top: 50px;
}
.navbar-right{
    margin-top: 80px;
    margin-right: 50px;
    text-align: center;
}
.navbar-right li{
    margin-left: 50px;
}
.navbar-right li:nth-child(3){
    margin-top: -10px;
}

.selecter select {
    width: 76px;
    height: 38px;
    border-color: transparent;
    background-color: #36005D;
    border-radius: 7px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #AAAAAA;
}
.selecter select option{
    margin-left: 3px;
    border-color: transparent;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #AAAAAA;
}

.luckpaper a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 45px;
    color: #FFFFFF;
}
.luckpaper a:hover{
    text-decoration-color: #199ffa;
}
.mintbtn{
    width: 161px;
    height: 61px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background-color: transparent;
}
.mintbtn:hover {
    background-color: #81D8D0;
}
.mintbtn front{
    width: 76px;
    height: 34px;
    left: 1640px;
    top: 86px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}
.mintbtn:hover front{
    color: black;
}

.navbar-default .navbar-toggle .icon-bar{
    color: black;
    background-color: white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: #81D8D0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: transparent;
}
@media screen and (max-width:1343px){
    .mintbtn {
        background-color: #81D8D0 !important;
    }
    .mintbtn front{
        color: black;
    }
}
@media screen and (max-width: 868px) {
    .navbar-right{
        margin-top: 90px !important;
        margin-right:-25px !important;
    }
}
@media screen and (max-width: 792px) {
    .navbar-right{
        margin-top: -70px !important;
        margin-right:-25px !important;
    }
}
@media screen and (max-width: 765px) {
    #logo{
        width: 90px;
        height: 90px;
        margin-left: 40px;
        margin-top: 25px;
    }
    .navbar-right li{
        margin-left: -10px;
        margin-bottom:15px;
    }
    .navbar-right{
        margin-top: 10px !important;
        margin-right: -15px !important;
    }
    .navbar-right li:nth-child(3){
        margin-top: 0px !important;
    }
}


/* video */
.videoframe{
    top: 10px;            
    bottom: 0;            
    left: 0;            
    right: 0;            
    margin: auto;   
    width: 50%;
    height: 15%;
    background: #36005D;
    border: 2px solid;
    border-image: linear-gradient(252.58deg,#F3AF55, rgba(166, 63, 0, 0),rgba(228, 154, 69, 0.808511)) 8 48 90;

}
.embed-responsive-16by9 {
    padding-bottom: 30%;
}


/* title & info */
.titleninfo{
    width: 70%;
    height: 230px;
    text-align: center;
    top: 0;            
    bottom: 0;            
    left: 0;            
    right: 0;            
    margin: 35px auto 35px auto; 
}
.titleninfo .titleimg{
    top: 0;            
    bottom: 0;            
    left: 0;            
    right: 0;            
    margin:  auto; 
    margin-bottom: 20px;
}
.titleninfo .info{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
}
@media screen and (max-width: 666px) {
    .titleninfo{
        margin-bottom: 50px;
    }
    .titleninfo .info{
        font-size: 20px !important;
    }
}


/* social icon */
.socialicon{
    width: 70%;
    height: auto;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 70px auto 35px auto;
}
.socialicon a{
    margin: 20px;
}


/* goldenline */
.goldenline{
    width: 80%;
    height: 0px;
    top: 0;            
    bottom: 0;            
    left: 0;            
    right: 0;            
    margin: auto; 
    border: 8px solid;
    border-image: linear-gradient(90deg, rgba(66, 41, 130, 0), rgb(255 136 0), rgba(66, 41, 130, 0)) 0 50 100;
}


/* counter */
.counter{
    top: 0;            
    bottom: 0;            
    left: 0;            
    right: 0;    
    margin: 60px auto auto auto; 
}
.counter .counterdetail{

    text-align: center;
}
.counter .counterdetail .number{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    color: #FFFFFF;
}
.counter .counterdetail .counterintro{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 39px;
    line-height: 48px;
    /* identical to box height */
    color: #FFFFFF;
}
@media screen and (max-width: 625px) {
    .counter{
        top: 0;            
        bottom: 0;            
        left: 0;            
        right: 0;    
        margin: 20px auto auto auto; 
    }

    .counter .counterdetail .number{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
        color: #FFFFFF;
    }
    .counter .counterdetail .counterintro{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 48px;
        /* identical to box height */
        color: #FFFFFF;
    }
}
@media screen and (max-width: 991px) {
    .counter{
        top: 0;            
        bottom: 0;            
        left: 0;            
        right: 0;    
        margin: 20px auto auto auto; 
    }

    .counter .counterdetail .number{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;;
        font-size: 55px;
        line-height: 60px;
        color: #FFFFFF;
    }
    .counter .counterdetail .counterintro{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 35px;
        line-height: 48px;
        /* identical to box height */
        color: #FFFFFF;
    }
}


/* Ecosystem */
.ecosystem{
    margin-top: 150px;
    margin-left: -15%;
    width: 80%;
    height: 600px;
    float: left;
}
.ecosystemtitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 73px;
    line-height: 73px;
    color: #FFFFFF;
}

.ecosystem2title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 43px;
    line-height: 90px;
    color: #FFFFFF;
}

.ecosystemdetail{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 44px;
    color: #FFFFFF;
}
@media screen and (max-width: 1852px) {
    .ecosystem {
        width: 100%;
        height: auto;
        top: 40px;            
        bottom: 0;            
        left: 0;            
        right: 0;    
        margin: auto; 
        text-align: center;
    }
    .ecosystemtitle{
        line-height: 50px;
        font-size: 60px;
    }
    .ecosystem2title{
        line-height: 50px;
        font-size: 35px;
    }
    .ecosystemdetail{
        line-height: 35px;
        font-size: 25px;
    }
}

/* magicbox */
.magicbox{
    margin-right: 100px;
}
.magicbox img{
    width: 600px;
    height: 700px;
}
@media screen and (max-width: 1853px) {
    .magicbox{
        width: 100%;
        text-align: center; 
    }
    .magicbox img{
        width: 500px;
        height: 600px;
    }
}
@media screen and (max-width: 900px) {
    .magicbox img{
        width: 400px;
        height: 500px;
    }
}



/* footer */
.footer{
    float: left;
    bottom: 0;
    margin-top: 70px;
    width: 100%;
    height: auto;
    background: #81D8D0;
    padding-bottom: 35px;
}
.footer .footerluckpaper{
    float: left;
    margin-top: 70px;
    margin-left: 148px;
}
.footerluckpaper a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}
.footer .footercontact{
    margin-top: 125px;
    float: left;
    margin-left: -165px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.footercontact a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.footersocialicon{
    float: right;
    margin-top: 90px;
    margin-right: 160px;
}
.footersocialicon a{
    margin-right: 30px;
}
@media screen and (max-width: 830px) {
    .footersocialicon a {
        margin: 15px;
    }
    .footer .footerluckpaper{
        width: 100%;
        text-align: center; 
        margin-top: 30px !important;
        margin-left: 0px !important;
    }
    .footercontact{
        width: 100%;
        text-align: center; 
        margin-top: 30px !important;
        margin-left: 0px !important;
    }
    .footersocialicon{
        width: 100%;
        text-align: center; 
        margin-top: 30px;
        margin-right: 0px;
    }
}
